.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 2vw;
  height: 2vw;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.list-icon {
  cursor: pointer;
}
