.calorie-details-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.user-table {
  width: 70%;
  text-align: center;
}

.mat-header-cell {
  text-align: center;
}

.icon-button {
  cursor: pointer;
}

.add-button {
  align-self: flex-end;
  margin-right: 15vw;
}

.user-name-container {
  flex: 1;
}

.title-container {
  justify-content: center;
}

.bmr-container {
  color: blueviolet;
  font-weight: 400;
}

.show-day-calorie-data-icon {
  cursor: pointer;
}
